/*Centrelink*/
a {	
	text-decoration: none;
}


body {
   background-color: #FFFFFF;
   font-family: "Arial";
   font-size: 10px;
}

.bold {
   text-decoration: bold;
}
.temperature {
   /* font-family: "Arial"; */
   font-size: 30px;
}

#feedId {
   /* font-family: "Arial"; */
   font-size: 10px;
   
}
.footer {
   /* font-family: "Arial"; */
   font-size: 10px;
   color: gray;
}
.smallLink {
   font-size: 10px;
}