/* CentreNet Page Design Stylesheet version 2.0 - April 2004 */

/* LAST UPDATED: 2 August 2006 */

/* Maintained by Online Communication, Communication Division
Email Address: centrenet/nso/csda
Change Requests: http://centrenet/developers/change/request.htm
Change History: http://centrenet/developers/change/history.htm
All updates to this CSS to be done in lowercase*/

/* Page Styles */

body {
	margin-top: 0px;
	margin-left: 0px; 
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #fffff0;
	text-align: left;
}

p, table, dd {
font-size: x-small;}

h1, h2, h3, h4, h5 {
	font-weight: bold; 
	margin-right: 10px;
	text-align: left;
}

h1 {font-size: 125%; color: #008084;}

h2 {font-size: 118%; color: #000000;}

h3 {font-size: 107%; color: #000000;}

h4 {font-size: 100%; color:#000000}

h5 {font-size: 100%; color: #008084;}

h6 {font-size: 85%;}

.font1 {font-size:110%;}
.font2 {font-size:120%;}
.font3 {font-size:130%;}
.font4 {font-size:140%;}

/* Footer styles as requested by Centrenet Developers, */
.footer1 {
	font-size: 85%;
	color: #c55819;
	FONT-WEIGHT: bold; 
	MARGIN-LEFT: 10px; 
	MARGIN-RIGHT: 10px
}
.footer2 {
	font-size: 78%;
	color: #c55819;
	FONT-WEIGHT: bold; 
	MARGIN-LEFT: 10px; 
	MARGIN-RIGHT: 10px
}
.footer3 {
	font-size: 73%;
	color: #c55819;
	FONT-WEIGHT: bold; 
	MARGIN-LEFT: 10px; 
	MARGIN-RIGHT: 10px
}

.noteRed {color:#E60000;}
.noteBlue {color:#000080;}
.noteGreen {color:#006200;}
.noteEuc {color:#008084;}
.noteOchre {color:#C55819;}

hr {
	margin-left: 0px; 
	margin-right: 10px; 
	color: #f47720; 
	height: 1px;
}

/* HR colour for sitemaps */

.sitemap {
	color: #000000; 
	height: 1px;
}

caption {
	font-size: 118%;
	color: #000000;
	font-weight: bold; 
	margin-right: 10px;
	text-align: left;
}

/*Link Colours*/

a:link {COLOR: #346666;}

a:hover {COLOR: #000000; TEXT-DECORATION: underline;
		background-color: #CCE6E7; }

a:visited {COLOR: #c55819}

a:visited:hover {COLOR: #000000; TEXT-DECORATION: underline;
		background-color: #CCE6E7;}



a.topbar:link {color: white}

a.topbar:hover {
	color: black; 
	text-decoration: none;
	background-color : white;
}
a.topbar:visited {color: white}

a.topbar:visited:hover {
	color: black; 
	text-decoration: none;
	background-color : white;
}
a.topbar:active {
	color: black; 
	text-decoration: none;
	background-color : white;
}

a.localbar:link {color: Black}

a.localbar:hover {
	color: black; 
	text-decoration: none;
	background-color : white;
}
a.localbar:visited {color: Black;}

a.localbar:active {
	color: black; 
	text-decoration: none;
	background-color : white;
}

a.pagepath:link, #pagepath a:link {color: black;}

a.pagepath:visited, #pagepath a:visited {color: #000033;}

a.pagepath:visited:hover, #pagepath a:visited:hover {
	color: black;
	text-decoration: none;
	background-color : white;
}

a.pagepath:active, a#pagepath:active {
	color: Black;
	text-decoration: none;
	background-color : white;
}

a.light:link {color: #ffffff}

a.light:visited {color: #FEF8A3}

a.light:hover {
	color: white; 
	text-decoration: none;
	background-color: #FF9933;
}
a.light:active {
	color: white; 
	text-decoration: none;
	background-color: #FF9933;
}
		
a.popup:visited:hover
		{COLOR: #000000; TEXT-DECORATION: none;
		background-color: #CCE6E7; }

/* To keep link colours consistent when anchors are all on same page */

a.anchor:link {COLOR: #346666}

a.anchor:hover {COLOR: #000000; 
				TEXT-DECORATION: underline;
				background-color: #CCE6E7;}

a.anchor:visited {COLOR: #346666}


/* Changing font sizes */

.smalltext {font-size: xx-small; margin-left: 0px;}

.mediumtext {font-size: x-small; MARGIN-LEFT: 0px;}

img {border: 0}

.newsitem {
	border-bottom-color: #008084; 
	border-bottom-width: 1px; 
	border-bottom-style: dotted; 
	padding-bottom: 5px;
	padding-top: 5px;
}

.newsitemtop {
	border-bottom-color: #008084; 
	border-bottom-width: 1px; 
	border-bottom-style: dotted; 
	padding-bottom: 5px;
}


/* List styles for all link indicator images, these classes are used inconjuntion with a List Item. 
	This rule set defines all the common rules between the list item classes, padding and margin-left
*/

OL {FONT-SIZE: 100%;} 

UL {FONT-SIZE: 100%;} 

LI {MARGIN-TOP: 5px;}

UL.small {list-style-image: url(/images/circle.gif); font-size: xx-small; margin-bottom: 0px; margin-top: 0px; line-height: 10px;}
UL.left {list-style-image: url(/images/diamond.gif); FONT-SIZE: 100%; margin-left:25px; margin-right:10px} 
UL.diamond {list-style-image: url(/images/diamond.gif); FONT-SIZE: 100%;} 
UL.phone {list-style-image: url(/images/phone.gif); FONT-SIZE: 100%;} 
ul.rssFeed li{list-style-image: url(/images/rss_feed_16.gif); FONT-SIZE: 100%;} 

ul.pageLink ul
{
	margin-left: 1.25em;
}
ul.pageLink li
{
	list-style-image: url(/images/page_link_16.gif);
	FONT-SIZE: 100%;
}

/*  
The below class has been created to give the developer the flexibility to add the class to the LI tag, not at the UL level as in the class above.
	At the lower level of LI the developer is able to access the arrow in the middle of the list items.
*/

LI.diamond, LI.circle, LI.info, LI.external, LI.internal, LI.phone, LI.fax, LI.email, LI.lad, LI.123, LI.eref, LI.pdf, LI.lwp, LI.lfg, LI.access, LI.excel, LI.ppt, LI.word, LI.zip, LI.doclib, LI.guide, LI.act, LI.rtf, LI.mapstat, LI.blank, LI.powerplay, LI.time, LI.visio, LI.jobdesc, LI.spriteArrow, LI.spriteFlag, LI.spritePoint, LI.spriteRecycle, LI.spriteShake, LI.null, LI.nnu, LI.new, LI.updated, LI.perf, LI.bizline, LI.w2w, LI.tick, LI.cross, LI.wiki, LI.notes, LI.website, LI.consolid, LI.procserv, LI.video, LI.serviceFirst, LI.help, LI.hrau, LI.xml, ul.pageLink li{
/*
padding is in order top, right, bottom, left...
*/
	padding: 0px 0px 0px 5px;
}

LI.left {list-style-image: url("/images/diamond.gif");} 
LI.circle {list-style-image: url("/images/circle.gif");}

/* use this class for the external link image */
LI.external {LIST-STYLE-IMAGE: url("/images/external.gif");}

/* use this class for the diamond link image */
LI.diamond {LIST-STYLE-IMAGE: url("/images/diamond.gif");}

/* use this class for the internal link image */
LI.internal {LIST-STYLE-IMAGE: url("/images/internal.gif");}

/* use this class for the Centrelink Website link image */
LI.website {LIST-STYLE-IMAGE: url("/images/website.gif");}

/* use this class for the phone link image */
LI.phone {LIST-STYLE-IMAGE: url("/images/phone.gif");}

/* use this class for the fax link image */
LI.fax {LIST-STYLE-IMAGE: url("/images/fax.gif");}

/* use this class for the email link image */
LI.email {LIST-STYLE-IMAGE: url("/images/mail.gif");}

/* use this class for the Lotus Approach DataBase link image */
LI.lad {LIST-STYLE-IMAGE: url("/images/approach.gif");}

/* use this class for the Lotus 123 link image */
LI.123 {LIST-STYLE-IMAGE: url("/images/123.gif");}

/* use this class for the eReference link image */
LI.eref {LIST-STYLE-IMAGE: url("/images/e-ref.gif");}

/* use this class for the PDF link image */
LI.pdf {LIST-STYLE-IMAGE: url("/images/pdf.gif");}

/* use this class for the Lotus Word Pro link image */
LI.lwp {LIST-STYLE-IMAGE: url("/images/lwp.gif");}

/* use this class for the Lotus Freelance Graphics link image */
LI.lfg {LIST-STYLE-IMAGE: url("/images/lfg.gif");}

/* use this class for the Microsoft Access Database link image */
LI.access {LIST-STYLE-IMAGE: url("/images/access.gif");}

/* use this class for the Microsoft Excel link image */
LI.excel {LIST-STYLE-IMAGE: url("/images/excel.gif");}

/* use this class for the Microsoft PowerPoint link image */
LI.ppt {LIST-STYLE-IMAGE: url("/images/powerpoint.gif");}

/* use this class for the Microsoft Word link image */
LI.word {LIST-STYLE-IMAGE: url("/images/word.gif");}

/* use this class for the Winzip link image */
LI.zip {LIST-STYLE-IMAGE: url("/images/zip.gif");}

/* use this class for the Notes Document Library link image */
LI.doclib {LIST-STYLE-IMAGE: url("/images/doclib.gif");}

/* use this class for the Guide link image */
LI.act {LIST-STYLE-IMAGE: url("/images/act.gif");}

/* use this class for the Act link image */
LI.guide {LIST-STYLE-IMAGE: url("/images/guide.gif");}

/* use this class for the RTF link image */
LI.rtf {LIST-STYLE-IMAGE: url("/images/rtf.gif");}

LI.blank {LIST-STYLE-IMAGE: url("/images/blank.gif");}

LI.mapstat {LIST-STYLE-IMAGE: url("/images/mapstat.gif");}

LI.consolid {LIST-STYLE-IMAGE: url("/images/consolid.gif");}

LI.info {LIST-STYLE-IMAGE: url("/images/info.gif");}

LI.powerplay {LIST-STYLE-IMAGE: url("/images/powerplay.gif");}

LI.time {LIST-STYLE-IMAGE: url("/images/timeline.gif");}

LI.visio {LIST-STYLE-IMAGE: url("/images/visio.gif");}

LI.jobdesc {LIST-STYLE-IMAGE: url("/images/jobdesc.gif");}

LI.null {LIST-STYLE-IMAGE: url("/images/null.gif");}

LI.nnu {LIST-STYLE-IMAGE: url("/images/nnu.gif");}

LI.new {LIST-STYLE-IMAGE: url("/images/new.gif");}

LI.updated {LIST-STYLE-IMAGE: url("/images/updated.gif");}

LI.perf {LIST-STYLE-IMAGE: url("/images/performance.gif");}

LI.bizline {LIST-STYLE-IMAGE: url("/images/bizlines16.gif");}

LI.w2w {LIST-STYLE-IMAGE: url("/images/w2w.gif");}

LI.tick {LIST-STYLE-IMAGE: url("/images/tick.gif");}

LI.cross {LIST-STYLE-IMAGE: url("/images/cross.gif");}

LI.wiki {LIST-STYLE-IMAGE: url("/images/wiki.gif");}

LI.iknow {LIST-STYLE-IMAGE: url("/images/iknow.gif");}

LI.spriteArrow {LIST-STYLE-IMAGE: url("/images/sprite-arrow.gif");}
LI.spriteFlag {LIST-STYLE-IMAGE: url("/images/sprite-flag.gif");}
LI.spritePoint {LIST-STYLE-IMAGE: url("/images/sprite-point.gif");}
LI.spriteRecycle {LIST-STYLE-IMAGE: url("/images/sprite-recycle.gif");}
LI.spriteShake {LIST-STYLE-IMAGE: url("/images/sprite-shake.gif");}

LI.notes {list-style-image: url("/images/notes.gif");}

LI.video {list-style-image: url("/images/video.gif");}

LI.procserv {list-style-image: url("/images/processingservices.gif"); vertical-align: middle;}

/* use this class for Service First Information */
LI.serviceFirst {list-style-image: url("/images/servicefirst.gif");}

LI.help {list-style-image: url("/images/help_avail.gif");}

/* use this class for Human Resources Advisory Unit information */
LI.hrau {list-style-image: url("/images/hrau_16.gif");}
/* use this class for xml files */
LI.xml {list-style-image: url("/images/xml_16.gif");}
/* use this class for page links, eg # links on the same page */
LI.pageLink {list-style-image: url("/images/page_link_16.gif");}

UL.leftnav {FONT-SIZE: 87%; MARGIN-LEFT: 15px; list-style-image: url(/images/tmm_dot.gif);} 

/* For technical pages with coding displayed */
code, pre, xmp {FONT-SIZE: 100%; FONT-FAMILY: Courier;}

/* This style is for coloured section headings */

.shCORP {
	border-color: #008084; 
	border-width: 1px; 
	border-style: solid; 
	padding: 5px; 
	/* margin-right: 0px; */
	background-color: #CCE6E6;
	FONT-WEIGHT: bold; 
}

.shOchre {
	border-color: #F47720; 
	border-width: 1px; 
	border-style: solid; 
	padding: 5px; 
	margin-right: 0px;
	background-color: #FDE4D2;
	FONT-WEIGHT: bold; 
}


/* 
The below classes are used to colour data tables. The classes may be used for any table used for data layout in the Zone 3 area.

The Name without a number represents the full colour value, the name with a number represents the colour with a tint value. 
EG. Ochre30 represents the Ochre colour at 30% tint.

*/
.ochre { background-color:#F47720; }
.ochre50 {background-color: #f9bb8f; }
.ochre40 { background-color:#FBC9A6; }
.ochre30 { background-color:#FCD6BC; }
.ochre20 { background-color:#FDE4D2; }
.ochre10 { background-color:#FEF1E8; }
.ochre5 { background-color:#FEF8F4; }



.euc { background-color: #008084; color: #ffffff;}		
.euc50 { background-color: #87c4c5; }
.euc40 { background-color: #99CCCE; }
.euc30 { background-color: #B2D9DA; }
.euc20 { background-color: #CCE6E6; }
.euc10 { background-color: #E5F2F2; }
.euc5 { background-color: #F2F9F9; }

/* style below for coloured cells with cell border to match. */

.bdrCorp {
	border-width : 1px;
	border-color : #008084;
	border-style : solid;
	background-color : #CCE6E6;
	padding: 3px;
}

.bdrCorp5 {
	border-width : 1px;
	border-color : #008084;
	border-style : solid;
	background-color : #F2F9F9;
	padding: 3px;
}

.bdrOchre {
	border-width : 1px;
	border-color : #F47720;
	border-style : solid;
	background-color : #FDE4D2;
	padding: 3px;	
}

.bdrOchre5 {
	border-width : 1px;
	border-color : #F47720;
	border-style : solid;
	background-color : #FEF8F4;
	padding: 3px;	
}

.cellBdrCorp {
	border-width : 1px;
	border-color : #008084;
	border-style : solid;
}
.cellBdrCorpDot {
	border-width : 1px;
	border-color : #008084;
	border-style: dashed;
}

.cellBdrOchre {
	border-width : 1px;
	border-color : #F47720;
	border-style : solid;
}
.cellBdrOchreDot {
	border-width : 1px;
	border-color : #F47720;
	border-style: dashed;
}
.cellBdrCorpLine {
	border-bottom-width : 1px;
	border-bottom-color : #008084;
	border-bottom-style : solid;
	background-color : #E5F2F2;
}
.cellBdrOchreLine {
	border-bottom-width : 1px;
	border-bottom-color : #F47720;
	border-bottom-style : solid;
	background-color : #FEF1E8;
}

.sourceHeight td {
	height: 2.5em;
}

/*Styles Applied to Float Images left or right */
.imgfloatright { float: right; margin: 1em; }

.imgfloatleft { float : left; margin: 1em; }

/* The below class AltTextArea, defines an alternative colour for developers to access when coloring form elements such as the TEXTAREA or TEXT fields */
.AltTextArea {BACKGROUND-COLOR: #ffe6a1;}

.newtop {
	background-image :  url(/images/newcorner_t_corp.gif);
	background-position: top left;
	background-repeat : no-repeat;
	background-color : #008084;
	padding : 0px;
	color:#FFFFFF;
}

.newbody {padding : 10px; background-color : #CCE6E6;}

.newbottom {
	background-image :  url(/images/newcorner_b_corp.gif);
	background-position: bottom right;
	background-repeat : no-repeat;
	background-color : #008084;
	padding : 0px;
}

.newtopOchre {
	background-image :  url(/images/newcorner_t_ochre.gif);
	background-position: top left;
	background-repeat : no-repeat;
	background-color : #F79239;
	padding : 0px;
	color: #000000;
}

.newbodyOchre {padding : 10px; background-color : #FDE4D2;}

.newbottomOchre {
	background-image :  url(/images/newcorner_b_ochre.gif);
	background-position: right;
	background-repeat : no-repeat;
	background-color : #F79239;
	padding : 0px;
}

.newstop {
	background-image :  url(/images/localbar_bg.gif);
	background-repeat : repeat-x;
	background-color : #FDDEC3;
	padding : 0px;
}

.cellBdrNews {
	border-width : 1px;
	border-style : solid;
	border-color: #FBC395;
}

/* Class below for applying to Business Directory links in the page path area eg the CentreNet home page*/
.bizdir {font-size: small; MARGIN-LEFT: 0px}

/*Applys attributes to draw attention to acronyms and abbreviations*/
abbr, acronym, span.abbr, q, cite {font-style: normal; border-bottom: dotted 1px #008084; cursor: help;}

/*Applys attributes to popup links*/
.popup {font-style: normal; border-bottom:dashed 1px; text-decoration:none;}

.help {cursor: help;}

/*Applys attributes to draw attention to quotes and citations*/
q, cite {font-style: italic;}

/* The misc classes below are to apply to divs of normal text for non-printing - relevant classes in print.css*/

.misc2 {display: none;}

/*Forces a page break when printing*/
.breakhere {page-break-before: always;}

/*Reduce the padding around form buttons*/
.pad {margin-top: 2px; margin-bottom: 2px}

/*Reduce the padding around multiple forms within tables*/
.pad2 {margin-top: 0px; margin-bottom: 0px}

/* Used for a bit more padding around certain things */
.pad3 { padding: 0.3em; }

.marg1 { margin: 0.7em; }

/*Padding for the Homepage Quickphone and search boxes*/
.padhome {margin-top: 10px; margin-bottom: 0px}

.padaswform { margin-left: 1em; }

/*colours to emulate mainframe display colours*/

.mfBg {background-color : #000000;}
.mfTwhite {color : #ffffff;}
.mfTblue {color : #00FFFF;}
.mfTyellow {color : #FFFF00;}
.mfTgreen {color : #33FF00;}

/* strikethrough of text */
.strikethrough {
	text-decoration:line-through;
	}

/* eReference Procedures */

.eRefProc {font-family: Wingdings; 
			font-size: medium;}
			
.wingdings {font-family: Wingdings; 
			font-size: medium;}			

.webdings {font-family: Webdings; 
			font-size: medium;}			

ul.sitemap { list-style-image: url(/images/diamond.gif);
			font-size: xx-small;
			margin-left: 10px;
			margin-bottom: 5px;}			

/*Apply consistent widths to selectngo boxes etc */
			
 .width50 { width:  50px }
.width100 { width: 100px }
.width150 { width: 150px }
.width200 { width: 200px }
.width250 { width: 250px }
.width300 { width: 300px }
.width350 { width: 350px }
.width400 { width: 400px }
.width450 { width: 450px }
.width500 { width: 500px }
.width550 { width: 550px }
.width600 { width: 600px }
.width650 { width: 650px }
.width700 { width: 700px }
.width750 { width: 750px }

.width5pc {  width: 5% }
.width10pc { width: 10% }
.width15pc { width: 15% }
.width20pc { width: 20% }
.width25pc { width: 25% }
.width30pc { width: 30% }
.width35pc { width: 35% }
.width40pc { width: 40% }
.width45pc { width: 45% }
.width50pc { width: 50% }
.width55pc { width: 55% }
.width60pc { width: 60% }
.width65pc { width: 65% }
.width70pc { width: 70% }
.width75pc { width: 75% }
.width80pc { width: 80% }
.width85pc { width: 85% }
.width90pc { width: 90% }
.width95pc { width: 95% }
.width98pc { width: 98% }
.width100pc { width: 100% }

.height50 { height:  50px }
.height100 { height: 100px }
.height150 { height: 150px }
.height200 { height: 200px }
.height250 { height: 250px }
.height300 { height: 300px }
.height350 { height: 350px }
.height400 { height: 400px }
.height450 { height: 450px }
.height500 { height: 500px }
.height550 { height: 550px }
.height600 { height: 600px }

/*For use by brapps account for displaying code*/

.syscode {
  overflow: hidden;
  border: none;
  font-family:"Courier New", Courier, mono;
  font-size: x-small;
}

/*
.fieldsetWhite {
  background-color:#FFFFFF;
}
*/

fieldset
{
	border-style: none;
	margin: 0;
	padding: 0;
	/*border-style: solid;
	border-width: 1px;*/
	border-top: 1px solid #99CCCE;
	border-bottom: 1px solid #99CCCE;
	/*background-color: #F2F9F9;*/
	padding: 0 1em 1em 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}
fieldset legend
{
	font-size: 112%;
	padding: 0 6px 3px 0;
	font-weight: bold;
	background-color: #F2F9F9;
	border: 1px solid #99CCCE;
}

/*
.fsOchre
{
	border-color: #F47720;
}
.fsOchre legend
{
	color: #F47720;
	border-color: #87c4c5;
}
.fsCORP
{
	border-color: #008084;
}
.fsCORP legend
{
	color: #008084;
	border-color: #f9bb8f;
}
*/

img.icon {
  vertical-align: middle;
}

/* For use in eReference only - from Dan Murphy */

ul.eref_noIndent {
	margin-left: .7em;
	padding-left: .7em;
}

ul.eref_indent {
	list-style-image: url(/images/tmb_dot.gif);
	font-size: 100%;
}

/* What's New 2 */

div.whatsnew2 { padding: 0; margin-left: 1em; margin-bottom: 1em; } 

div.whatsnew2 .whatsnew2title {
	background-image :  url(/images/newcorner_t_corp.gif);
	background-position: top left;
	background-repeat : no-repeat;
	background-color : #008084;
	padding : 0.1em;
	color:#FFFFFF;
	text-align: center;
	font-weight: bold;
} 

div.whatsnew2 .whatsnew2titleochre {
	background-image :  url(/images/newcorner_t_ochre.gif);
	background-color : #F47720;
} 

div.whatsnew2 .whatsnew2body {
	padding: 0.5em;
	background-color: #CCE6E6;
	word-wrap: break-word;
} 

div.whatsnew2 .whatsnew2bodyochre {
	background-color: #FDE4D2;
} 

div.whatsnew2 .whatsnew2bottom {
	background-image :  url(/images/newcorner_b_corp.gif);
	background-position: bottom right;
	background-repeat : no-repeat;
	background-color : #008084;
	padding : 0.1em;
}

div.whatsnew2 .whatsnew2bottomochre {
	background-image :  url(/images/newcorner_b_ochre.gif);
	background-color : #F47720;
}

div.whatsnew2 a:link { color: black; }

div.whatsnew2 a:visited { color: black; }

div.whatsnew2 ul {
	margin: 0 0 0 1.7em;
	padding: 0;
} 

div.whatsnew2 ul li {
	margin: 0 0 0.5em 0;
	font-size: xx-small;
	/*list-style-type: none;
	background: url("/images/dot_euc.gif") no-repeat 25% left;
	padding-left: 20px;*/
}

div.whatsnew2 ul li ul {
	margin-left: 1.2em;
}

div.whatsnew2 ul li ul li {
	margin: 0 0 0.3em 0;
	list-style-type: disc;
}

div.whatsnew2 ul.simple { 
	margin: 0	0 0 0.7em; 
}

div.whatsnew2 ul.simple li { 
	list-style-type: none; margin-top: 1em; 
}

div.whatsnew2 ul.simple li:first-child { 
	list-style-type: none; margin-top: 0; /* Firefox and IE8 (non-compatible mode) only */ 
}

div.whatsnew2 ul.simple li ul li { 
	list-style-type: disc; margin-top: 0; margin-left: 1em; 
}

/* Source Code */

.sourceCode {
	font-family:"Courier New", Courier, mono;
	font-size: x-small;
	background-color: #ffffff;
	color: #006600;
	border-width: 1px;
	border-style: solid;
	border-color: #d1d7dc;
	padding: 0.4em;
	margin-left: 0.7em;
	margin-right: 0.7em;
}

code.sourceCode { line-height: 200%; }
.sourceCode .comment { color: #7c7c7c; }

.boldtext {font-weight: bold}
.normaltext {font-weight: normal}

.indent { margin-left: 1.5em; }

ol.boldNum { font-weight: bold; }
ol.boldNum span { font-weight: normal; }

ul.alphaList li {
	list-style-type: none;
	display: inline;
	padding-right: 0.4em;
}

ul.alphaList { padding-left: 0; margin-left: 0; }

div.scrollbox, pre.scrollbox { overflow :auto; }

/* DL DD and DT styling */
dl { margin: 2em; }
dl dt { font-weight: bold; padding: 0.7em 0 0 0; }
dl dd { padding: 0.7em; }
dl.defTableQuick dt { border-top: 1px solid black; }

.topTable td {
	vertical-align: top;
}

/* Richard added this */
/* Used for eoi page */
table.jobTable {
	/*border: 1px solid #008084;*/
	/*width: 100%;*/
}
table.jobTable th {
 font-weight: bold;
 border-left: 0px none;
 border-right: 0px none;
 border-top: 1px solid #99CCCE;
 border-bottom: 1px solid #99CCCE;
 padding: 0.5em;
 text-align: left;
 color: #000000;
}
table.jobTable td {
border-bottom: 1px solid #B2D9DA;
background-color: #F2F9F9;
padding: 0.5em;
vertical-align: top;
}
.jobDetails {
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 0.4em;
}
.jobDetails li {
	margin-bottom: 0.1em;
	margin-top: 0.4em;
	margin-left: 2.2em;
}

/* Richard added this 29.09.09 */
/* Page sections - Information categorisation*/
.sectionTitle h1, .sectionTitle h2, .sectionTitle h3, .sectionTitle h4, .sectionTitle h5
{
	padding: 0;
	margin-left: 0.4em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-weight: normal;
	color: #000000;
}

.sectionContent
{
	padding-top: 0.1em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
/* What's new */
div.whatsNew
{
	padding: 0;
	margin-left: 1em;
	margin-bottom: 1em;
	float: right;
} 
div.whatsNew ul {
	margin: 0 0 0 1.7em;
	padding: 0;
} 
div.whatsNew ul li {
	margin: 0 0 0.5em 0;
}

div.whatsNew.title {
	padding : 0.1em;
	color:#000000;
	font-size: 110%;
} 
div.whatsNew.body {
	padding: 0.5em;
	word-wrap: break-word;
}

div.googlemap300 {
	border: 1px solid #000000;
	width: 300px;
	height: 300px;
}

div.googlemap400 {
	border: 1px solid #000000;
	width: 400px;
	height: 400px;
}

div.googlemap500 {
	border: 1px solid #000000;
	width: 500px;
	height: 500px;
}

/* Ochre page segments */
.ochreTitle
{
	border: 1px solid #FBC9A6;
	background-color: #FDE4D2;
}
.ochreContent
{
	background-color: #FEF8F4;
}
.ochreContent a:link
{
	color: #505050;
}
.ochreContent a:hover
{
	color: #000000;
	text-decoration: underline;
	background-color: #FDE4D2; 
}
.ochreContent a:visited
{
	color: #6A3A1F;
}
.ochreContent a:visited:hover
{
	color: #000000;
	text-decoration: underline;
	background-color: #FDE4D2; 
}
.ochreEnd
{
	border-bottom: 1px solid #FBC9A6;
	margin-bottom: 1.8em;
}
/* Blue page segments */
.eucTitle
{
	background-color: #CCE6E6;
	border: 1px solid #99CCCE;
}
.eucContent
{
	background-color: #F2F9F9;
}
.eucContent a:link
{
	color: #505050;
}
.eucContent a:hover
{
	color: #000000;
	text-decoration: underline;
	background-color: #CCE6E6;
}
.eucContent a:visited
{
	color: #195456;
}
.eucContent a:visited:hover
{
	color: #000000;
	text-decoration: underline;
	background-color: #CCE6E6;
}
.eucEnd
{
	border-bottom: 1px solid #99CCCE;
	margin-bottom: 1.8em;
}
/* End of page sections */