/* CentreNet Page Design Stylesheet Version 2.0 - May 2004 */

/* LAST UPDATED: 2 May 2005 */

/* Maintained by ePublishing, Communication Division
Email Address: centrenet/nso/csda
Change Requests: http://centrenet/developers/change/request.htm
Change History: http://centrenet/developers/change/history.htm
All updates to this CSS to be done in lowercase*/

/* Page Layout */

#topbar {
	display: none;
}

#topbarfunctions {
	display: none;
}

#localbar {
	position: relative;
	top: 0px;
	left : 0px;
	width : 100%;
	background-image : url(/images/localbar_bg.gif);
	background-repeat : repeat;
	background-color : #F9BB90;
	border-top : 1px;
	border-top-color : #F79239;
	border-top-style : solid;
	border-bottom : 1px;
	border-bottom-color : #F79239;
	border-bottom-style : solid;
	padding : 0px;
	height : 85px;

}

#graphic {
	position: absolute;
	display: none;
}

#sitetools {
	position: absolute;
	z-index : 1;
}

#localsearch {
	display : none;

}

.sitetitle {
	margin-left: 25px;
	margin-top: 6px; 
	margin-bottom: 0px;
	padding: 0px;
	font-size: 125%; 
	font-weight: bold;
	font-style : italic;
	color: Black;
}

.sitetitlebranch {
	margin-left: 38px;
	margin-top: 0px; 
	margin-bottom: 0px;
	padding: 0px;
	font-size: 100%; 
	font-weight: bold;
	color: Black;
}

.siteoptions {
	display : none;
}

#pagepath {
	background-image :  url(/images/pagepath_corner.gif);
	background-repeat : no-repeat;
	background-color : #F7953E;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	font-size : xx-small;
	color : white;
	width: 100%;
}
 
#navbar {
	display: none;
}

#navcontainer {
	display: none;
}

#pagebody {
	position: static;
	font-family: Arial, Helvetica, sans-serif;
	top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 0%;
	width: 100%;
	background-color : #fffff0;
	display: block;
}

.newtop {
	background-image : url(/images/newcorner_top.gif);
	background-position: top left;
	background-repeat : no-repeat;
	background-color : #E6E6D8;
	padding : 0px;
}

.newbody {
	padding : 10px;
	background-color : #E6E6D8;
}

.newbottom {
	background-image : url(/images/newcorner_bottom.gif);
	background-position: right;
	background-repeat : no-repeat;
	background-color : #E6E6D8;
	padding : 0px;
}

#footer {
	position: relative;
	
}

#disclaimer {
	position: relative;
	margin-top: 10px;
	font-size : xx-small;
	color : black;
	display: block;
	
}

#pagefooter {
	position: relative;
	margin: 5px;
	font-size : xx-small;
	color : black;
	text-align : center;
	
}

#updated {
	color : Gray;
	text-align: center;
	font-size : xx-small;
	z-index : 4;
}

.misc1 {display: none;}

.misc2 {display: inline;}

body {
	margin-top: 0px;
	margin-left: 0px; 
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;

}

pre {
	word-wrap: break-word !important;
	width: 100% !important;
	overflow: visible !important;
}

/* a few from layout.css which is screen only */

.displayNone { display: none; }
.displayInline { display: inline; }
.displayBlock { display: block; }

.gainLayout {
	/* this fixes various IE6 bugs - especially to do with floating */
	/* http://www.satzansatz.de/cssd/onhavinglayout.html */	
	height: 1%;
}

.clearBoth { clear: both !important; }
.floatRight { float: right; }
.floatLeft { float: left; } 

.whatsnew2 {
	border: 1px solid #E0E0E0;
	text-align: left !important;
}